<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shafco.posmobile">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/iconopname"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconopname"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".UpdateLokator"
            android:label="Update Lokator" />
        <activity android:name=".settingOpname.TeamDialog"
            android:theme="@style/Theme.AppCompat.Light.Dialog"/>
        <activity android:name=".settingOpname.IpDialog"
            android:theme="@style/Theme.AppCompat.Light.Dialog"/>
        <activity android:name=".KodeDialog"
            android:theme="@style/Theme.AppCompat.Light.Dialog"/>
        <activity android:name=".QtyDialog"
            android:theme="@style/Theme.AppCompat.Light.Dialog"/>
        <activity android:name=".settingOpname.TokoDialog"
            android:theme="@style/Theme.AppCompat.Light.Dialog"/>
        <activity android:name=".settingOpname.LokatorDialog"
            android:theme="@style/Theme.AppCompat.Light.Dialog"/>
        <activity android:name=".UploadDialog"
            android:theme="@style/Theme.AppCompat.Light.Dialog"/>
        <activity android:name=".UpdaterActivity"/>
        <activity android:name=".GetProduk"/>

    </application>

</manifest>